<form id="target" class="form-horizontal">
    <input type="hidden" ng-model="addtion.id">

    <div class="control-group">

        <!-- Text input-->
        <label class="control-label" for="input01">资源名称</label>

        <div class="controls">
            <input type="text" ng-model="addtion.name" placeholder="英文、数字、-、_" class="input-xlarge">

            <p class="help-block">只允许英文数字和-_, 用于npm install</p>
        </div>
    </div>

    <div class="control-group">

        <!-- Select Basic -->
        <label class="control-label">资源类型</label>

        <div class="controls">
            <select class="input-xlarge" ng-model="addtion.types">
                <option value="1" selected>框架/类库</option>
                <option value="2">组件</option>
                <option value="3">自研模块</option>
            </select>
        </div>

    </div>

    <div class="control-group">

        <!-- Text input-->
        <label class="control-label">公司邮箱</label>

        <div class="controls">
            <input type="text" placeholder="无须输入@baidu.com" class="input-xlarge" ng-model="addtion.email">

            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group">

        <!-- Text input-->
        <label class="control-label">百度Hi</label>

        <div class="controls">
            <input type="text" placeholder="维护者联系Hi号" class="input-xlarge" ng-model="addtion.hi">

            <p class="help-block"></p>
        </div>
    </div>
    <div class="control-group">

        <!-- Text input-->
        <label class="control-label">Demo地址</label>

        <div class="controls">
            <input type="text" placeholder="http://" class="input-xlarge" ng-model="addtion.demo">

            <p class="help-block"></p>
        </div>
    </div>

    <div class="control-group">

        <!-- Text input-->
        <label class="control-label">官网(wiki)地址</label>

        <div class="controls">
            <input type="text" placeholder="http://" class="input-xlarge" ng-model="addtion.homepage">

            <p class="help-block"></p>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">CNPM版本</label>

        <!-- Button -->
        <div class="controls">
            <hgroup class="cnpm-version" ng-repeat="v in addtion.vList">
                <div class="control-group">
                    <label class="control-label">版本号</label>

                    <div class="controls">
                        <input type="text" placeholder="1.0.0" class="input-xlarge" ng-model="v.code">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">压缩包上传</label>
                    <!-- File Upload -->
                    <div class="controls">
                        <input class="input-file" type="file" ng-model="v.file"> {{v.filename}}
                    </div>
                </div>
                <div class="control-group">
                    <!-- Textarea -->
                    <label class="control-label">版本说明</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea class="result" ng-model="v.detail"></textarea>
                        </div>
                    </div>
                </div>
                <a class="cnpm-remove" title="点击删除版本" ng-if="addtion.onlyOne()" ng-click="addtion.removeVersion($event)">×</a>
            </hgroup>
            <button class="btn btn-default" ng-click="addtion.addVersion($event)">新增版本</button>
        </div>
    </div>
    <div class="control-group">

        <!-- Textarea -->
        <label class="control-label">介绍/使用方法</label>

        <div class="controls">
            <div class="textarea">
                <textarea class="result" placeholder="Markdown格式书写" ng-model="addtion.readme">Markdown格式书写</textarea>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>

        <!-- Button -->
        <div class="controls">
            <a class="btn btn-success" ng-click="addtion.post()">提交</a> <a class="btn btn-default" href="#/index">返回</a>
        </div>
    </div>
</form>