<h1 class="title">框架/类库</h1>
<ul class="module-list">
    <li>
        <div class="container">
            <strong>jquery 1.8.2</strong>
            <span>2016-06-30</span>

            <p>最常用的js类库</p>
            <footer>
                <a href="#/modify/1" class="edit">编辑</a>
                <a href="#/remove" class="remove">删除</a>
            </footer>
        </div>
    </li>
    <li>
        <div class="container">
            <strong>bootstrap</strong>
            <span>2016-06-30</span>

            <p>html布局利器</p>
            <footer>
                <a href="#/modify/a" class="edit">编辑</a>
                <a href="#/remove" class="remove">删除</a>
            </footer>
        </div>
    </li>
    <li>
        <div class="container">
            <strong>angular</strong>
            <span>2016-06-30</span>

            <p>强大的mvvm框架</p>
            <footer>
                <a href="#/modify" class="edit">编辑</a>
                <a href="#/remove" class="remove">删除</a>
            </footer>
        </div>
    </li>
    <li>
        <div class="container">
            <strong>zepto</strong>
            <span>2016-06-30</span>

            <p>轻量级的移动端类库, 精简版jquery</p>
            <footer>
                <a href="#/modify" class="edit">编辑</a>
                <a href="#/remove" class="remove">删除</a>
            </footer>
        </div>
    </li>
    <li>
        <div class="container">
            <strong>React</strong>
            <span>2016-06-30</span>

            <p>当下最流行最火爆的前端框架, 其衍生的React Native框架已经被越来越多应用到手机端原生界面开发之中.</p>
            <footer>
                <a href="#/modify" class="edit">编辑</a>
                <a href="#/remove" class="remove">删除</a>
            </footer>
        </div>
    </li>
</ul>

<h1 class="title">组件/插件</h1>
<ul class="module-list">
    <li>
        <div class="container">
            <strong>echarts</strong>
            <span>2016-06-30</span>

            <p>百度开源的纯JavaScript图表库, 用了都说好!</p>
            <footer>
                <a href="#/modify" class="edit">编辑</a>
                <a href="#/remove" class="remove">删除</a>
            </footer>
        </div>
    </li>
    <li>
        <div class="container">
            <strong>daterangepicker</strong>
            <span>2016-06-30</span>

            <p>日期范围选择插件</p>
            <footer>
                <a href="#/modify" class="edit">编辑</a>
                <a href="#/remove" class="remove">删除</a>
            </footer>
        </div>
    </li>
</ul>