.input-xlarge {
    width: 280px;
}

.result {
    margin: 0px;
    width: 280px;
    height: 120px;
    padding: 10px;
}
.cnpm-version {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#eee;
    width: 470px;
    padding: 30px 10px 10px;
    margin-bottom: 10px;
    position: relative;
}
.cnpm-version .cnpm-remove {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 160%;
    font-weight: 700;
    color: #000;
}
.cnpm-version .cnpm-remove:hover {
    color: #f00;
}